.heroContainer {
    width: 100%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: start;
    padding: 2rem;
    border-bottom: 0.5px solid rgb(39 39 42);
    background-image:
            linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 115%),
            url("../../../public/heroBg.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.heroContent {
    width: 988px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
}

.heroMain {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}

.heroTitle {
    font-size: 3rem;
    text-align: start;
    color: #5c5c5c;
    text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
}

.heroSubHeading {
    width: 100%;
    font-size: clamp(1rem, 2vw, 1.15rem);
    font-weight: bold;
    text-align: left;
    color: whitesmoke !important;
    line-height: 1.6;
}

.heroActions {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 2rem;
}

.actionButtons {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
}


.heroButton {
    --border-width: 2px;
    --radius: 0.33rem;
    font-size: 0.95rem;
    font-weight: bolder;
    padding: 0.5rem 0.75rem;
    background-color: #0a0505;
    border: var(--border-width) solid rgb(39 39 42) !important;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: var(--radius);
    overflow: hidden;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    transition: transform 0.3s ease-in-out;
    position: relative;
}

.heroButton:hover {
    /*background-color: rgb(39 39 42);*/
    transform: scale(1.05);
    border: var(--border-width) solid transparent !important;
}

/* Gradient border animation */
.heroButton.animatedBorder::before {
    content: "";
    position: absolute;
    inset: calc(var(--border-width) * -0.75);
    z-index: -1;
    border: inherit;
    border-radius: inherit;
    background-image: conic-gradient(
            from var(--angle),
            #27272a 80%,
            whitesmoke 88%,
            whitesmoke 92%,
            #27272a 100%
    );
    background-origin: border-box;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    -webkit-mask:
            linear-gradient(black, black) content-box,
            linear-gradient(black, black);
    mask:
            linear-gradient(black, black) content-box,
            linear-gradient(black, black);
    -webkit-mask-clip: content-box, border-box;
    mask-clip: content-box, border-box;
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    animation: spin 3s linear infinite;
}

.heroButton.animatedBorder:hover::before {
    opacity: 1;
}

@property --angle {
    syntax: "<angle>";
    inherits: true;
    initial-value: 0turn;
}

@keyframes spin {
    to {
        --angle: 1turn;
    }
}

.divider {
    width: 2px;
    height: 1rem;
    background-color: whitesmoke;
    margin: 0 10px;
}

.socialLinks {
    width: 10%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.socialLink {
    width: 30px;
    height: 30px;
}

/* Portrait CSS */
.outer {
    width: 215px;
    height: 250px;
    border-radius: 10px;
    padding: 1px;
    background: radial-gradient(circle 230px at 0% 0%, #ffffff, #0c0d0d);
    position: relative;
    max-width: 300px;
    aspect-ratio: 4 / 5;
    transition: transform 0.5s ease-in;
}
.structure {
    z-index: 1;
    width: 100%;
    height: 100%;
    border-radius: 9px;
    border: solid 1px #202222;
    background-size: 20px 20px;
    background: radial-gradient(circle 280px at 0% 0%, #444444, #0c0d0d);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    flex-direction: column;
    color: #fff;
    box-sizing: border-box;
    overflow: hidden;
    position: relative;
}
.structure .text {
    font-weight: bolder;
    font-size: 4rem;
    background: linear-gradient(45deg, #000000 4%, #fff, #000);
    background-clip: text;
    color: transparent;
    text-align: center;
}
.line {
    position: absolute;
    background-color: #2c2c2c;
}
.line.topl {
    top: 10%;
    width: 100%;
    height: 1px;
    left: 0%;
    background: linear-gradient(90deg, #888888 30%, rgba(28, 27, 27, 0.65) 70%);
}
.line.bottoml {
    bottom: 10%;
    width: 100%;
    height: 1px;
    left: 0%;
}
.line.leftl {
    left: 10%;
    width: 1px;
    height: 100%;
    top: 0%;
    background: linear-gradient(180deg, #747474 30%, #222424 70%);
}
.line.rightl {
    right: 10%;
    width: 1px;
    height: 100%;
    top: 0%;
}
.card-image {
    width: 100%;
    height: auto;
    object-fit: cover;
    scale: 1;
    z-index: 5;
}

.shine {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.8) 50%, rgba(255, 255, 255, 0) 100%);
    pointer-events: none;
    z-index: 3;
    opacity: 0;
    transform: skew(30deg);
    animation: shine 5s linear infinite;
}
@keyframes shine {
    0% {
        left: -50%;
        opacity: 0;
    }
    /* Shine effect happens in first half of animation */
    25% {
        left: 25%;
        opacity: 0.5;
    }
    50% {
        left: 100%;
        opacity: 0;
    }
    /* Delay period happens in second half of animation */
    50.01%, 100% {
        left: -50%;
        opacity: 0;
    }
}

.shimmer {
    text-shadow: none;
    --bg-size: 400%;
    --color-one: whitesmoke;
    --color-two: #757575;
    background: linear-gradient(
            90deg,
            var(--color-one),
            var(--color-two),
            var(--color-one)
    ) 0 0 / 100% 100%;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-fill-color: transparent;
    background-size: var(--bg-size) auto;
    animation: move-bg 6s infinite linear;
}
@keyframes move-bg {
    to {
        background-position: var(--bg-size) 0;
    }
}
@media (prefers-reduced-motion: no-preference) {
    .textStyle {
        animation: move-bg 8s linear infinite;
    }
    @keyframes move-bg {
        to {
            background-position: var(--bg-size) 0;
        }
    }
}


@media (max-width: 1180px) {
    .heroContainer {
        padding: 2rem;
    }

    .heroContent {
        width: 750px;
        gap: 1.75rem;
    }

    .heroTitle {
        font-size: 2.2rem;
    }

    .outer {
        width: 190px;
        height: 225px;
    }

}

@media (max-width: 827px) {
    .heroContainer {
        padding: 1.5rem;
    }

    .heroContent {
        width: 100%;
        gap: 1.5rem;
        justify-content: start;
        align-items: start;
    }

    .heroMain {
        flex-direction: column;
        align-items: start;
    }

    .heroTitle {
        font-size: 2.1rem;
    }

    .outer {
        width: 180px;
        height: 215px;
    }

    .socialLinks {
        width: 12.5%;
    }

}

@media (max-width: 628px) {

    .heroContainer {
        padding: 1.25rem;
    }

    .heroContent {
        gap: 1.25rem;
    }

    .heroTitle {
        font-size: 1.75rem;
    }

    .socialLinks {
        width: 50%;
    }

    .heroActions {
        width: 75%;
    }

}

@media (max-width: 430px) {

    .heroTitle {
        font-size: 1.5rem;
    }

    .socialLinks {
        width: 50%;
    }

    .heroActions {
        width: 100%;
    }
    
}
